@page
@model lb5.Pages.Cities.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete city</h1>
<form method="post">
	<input asp-for="City.Id" hidden />
	<div class="form-group row">
	  <label>Name</label>
	  <div class="col-sm-8">
		  <input asp-for="City.Name" disabled />
	  </div>
  </div>
  <div class="form-group row">
		<label>Code</label>
		<div class="col-sm-8">
			<input asp-for="City.Code" disabled />
		</div>
  </div>
   <div class="form-group row">
		<label>Tariff</label>
		<div class="col-sm-8">
			<input asp-for="City.Tariff" disabled />
		</div>
  </div>
  <div class="col-sm-8 pt-2">
	  <button type="submit">Delete city</button>
  </div>
</form>
