@page
@model lb5.Pages.Conversations.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete conversation</h1>
<form method="post">
	<input asp-for="Conversation.Id" hidden />
	<div class="form-group row">
	  <label>Abonent</label>
	  <div class="col-sm-8">
		<input asp-for="Conversation.Abonent.FirstName" disabled />
	  </div>
  </div>
  <div class="form-group row">
		<label>City</label>
		<div class="col-sm-8">
			<input asp-for="Conversation.City.Name" disabled />
		</div>
  </div>
   <div class="form-group row">
		<label>DateConversation</label>
		<div class="col-sm-8">
			<input asp-for="Conversation.DateConversation" disabled />
		</div>
  </div>
  <div class="form-group row">
		<label>Duration</label>
		<div class="col-sm-8">
			<input asp-for="Conversation.Duration" disabled />
		</div>
  </div>
  <div class="col-sm-8 pt-2">
	  <button type="submit">Delete conversation</button>
  </div>
</form>
